---
layout: default
title: "Peter Lab"
---


<h3>记录一下值得记录的项目</h3>

<div class="gallery">
    <h2>业余尝试</h2>
    <ul class="">
        {% for post in site.categories.mindproject %}
        {% if post.display != "none" %}
        <li>
            <a href="{{ post.url }}">
                <span {% if post.status == "online" %} class="online"{% endif %}>{{ post.date | date: "%Y-%m" }} {{ post.title }}</span>
                <img src="{{ site.uploads }}{{ post.cover }}?imageView/1/w/280/h/130/q/85" />
            </a>
        </li>
        {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
    </ul>
</div>

<!--<div class="gallery">
    <h2>建站</h2>
    <ul class="">
        {% for post in site.categories.sohoproject %}
        <li>
            <a href="{{ post.url }}">
                <span {% if post.status == "online" %} class="online"{% endif %}>{{ post.date | date: "%Y-%m" }} {{ post.title }}</span>
                <img src="{{ site.uploads }}{{ post.cover }}?imageView/1/w/280/h/130/q/85" />
            </a>
        </li>
        {% endfor %}
        <div class="clearfix"></div>
    </ul>
</div>-->
    
<div class="gallery">
    <h2>工作项目</h2>
    <ul class="">
        {% for post in site.categories.workproject %}
        {% if post.display != "none" %}
        <li>
            <a href="{{ post.url }}">
                <span {% if post.status == "online" %} class="online"{% endif %}>{{ post.date | date: "%Y-%m" }} {{ post.title }}</span>
                <img src="{{ site.uploads }}{{ post.cover }}?imageView/1/w/280/h/130/q/85" />
            </a>
        </li>
        {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
    </ul>
</div>
