body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: "Microsoft Yahei", Georgia, Times, "Times New Roman", serif;
}

.wrapper {
    overflow: hidden;
    width: 1200px;
    margin: 10px auto 0;
}


#header {
    border-bottom: 1px solid #eee;
}
    #header a.pure-menu-heading {
        padding: 0;
    }
        #header a h1 {
            display: inline;
            font-family: 'Autour one', Georgia;
            font-weight: normal;
            text-transform: none;
        }


#footer {
    border-top: 1px solid #eee;
}
    #footer p {
        margin: 5px 0;
        color: #666;
        font-size: 14px;
    }

.content {
    padding: 10px;
}




p img {
    width: 100%;
    margin: 10px 0;
}
