body,
code,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: "Microsoft Yahei", Georgia, Times, "Times New Roman", serif;
}

.wrapper {
    overflow: hidden;
    width: 1200px;
    margin: 10px auto 0;
}

.txt-muted {
    color: #666666;
}


#header {
    border-bottom: 1px solid #999;
}
    #header a.menu-heading {
        padding: 0;
        text-decoration: none;
        color: #333333;
    }
        #header a h1 {
            display: inline;
            font-family: 'Autour one', Georgia;
            font-weight: normal;
            text-transform: none;
        }
    #header .menu ul {
        list-style-type: none;
        display: inline-block; *display:inline;
        margin: 0;
        overflow: hidden;
    }
        #header .menu ul li {
            display: inline-block; *display:inline;
            zoom: 1;
            margin-left: 8px;
        }
            #header .menu ul li a {
                text-decoration: none;
                color: #333333;
            }
            #header .menu ul li a:hover {
                text-decoration: none;
                color: #666666;
            }

#content {
    padding-bottom: 10px;
}

#footer {
    margin-top: 20px;
    border-top: 1px solid #999;
}
    #footer .copyright ul {
        list-style-type: none;
    }
        #footer .copyright ul li {
            text-align: right;
            color: #666;
            font-size: 14px;
        }


.findme ul {
    list-style-type: none;
    padding-left: 0;
}
    .findme ul li {
        display: inline;
    }



/* 文章内 */
p img {
    max-width: 90%;
    margin: 10px 0;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 2px #999999;
}
p code {
    font-weight: bold;

}



/* 简介页面 */
#selfintro {
    position: relative;
    padding: 0 0 10px;
}
    #selfintro h2 {
        font-weight: normal;
    }

    #selfintro img {
        width: 90px;
        border: 1px solid #eee;
        box-shadow: 2px 2px 2px #999999;
        position: absolute;
        right: 10px;
        bottom: 10px; *bottom: 20px;
    }
